
.cancion-pequeña:hover {
    border: solid thin grey;
    cursor: pointer;
    transform: translate(-10px);
}


.cancion-pequeña {
    background-color: #7d0b0b;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(160,11,13,1) 25%, rgba(170,12,12,1) 67%, rgba(0,212,255,0) 100%);
    transition: all 0.3s ease;
}


.cancion-pequeña-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

