
body {
    background: #7d0b0b;
    
}

.container {
    color: white !important;
}

.image img {
    width: 50%; /* Esto hará que la imagen tenga la mitad del ancho original */
    /* O puedes establecer un ancho específico en píxeles */
    /* width: 200px; */
}


.image {
    float: left; /* Alinea la imagen a la izquierda */
    margin-right: 20px; /* Agrega un espacio a la derecha para separar el contenido */
}
