{% extends "base.html" %}
{% block main %}
{% load static %}

<!-- Zona central -->
<div class="hero-area pt-3 mt-2" style="min-height: 400px; background-image: url('{% static 'img/03.jpg' %}'); background-position: 20% 40%; background-size: cover;">
    <!-- Espacio de navegación -->
    <div class="nav-spacer"></div>

    <!-- Contenido principal -->
    {% for genero, artistas in artistas_por_genero.items %}
    <h5 class="titulo-categoria mx-5 pt-4 mb-2 text-white">{{ genero|title }} <small class="float-end mt-1"><a href="" class="text-white me-1">Ver más <i class="bi bi-box-arrow-up-right"></i></a></small></h5>
    <section class="pt-2 p-4 mx-5 d-flex justify-content-center" style="flex-wrap:wrap;">
        {% for artista in artistas %}
        <div class="m-4" style="width:200px;">
            <div style="position: relative;">
                <img src="{{ artista.imagen }}" class="imagen-cancion-categoria">
                <a href="{{ artista.id }}">
                    <div class="cancion-categoria-hover">
                        <i class="h1 bi bi-play-fill" style="color:white;"></i>
                    </div>
                </a>
            </div>
            <div>
                <div class="lider text-white">{{ artista.nombre }}</div>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endfor %}
</div>

{% endblock %}
