{% extends "base.html" %}
{% load static %}

{% block main %}
    <title>Buscar Artista</title>

    <!-- Comienzo zona de resultados de búsqueda -->
    <div class="hero-area pt-5 mt-2" style="background-image: url('{% static 'img/03.jpg' %}');">
        <div class="nav-spacer"></div>
        <div class="container canciones-container">
            <div class="row">
                <!-- Alineación a la izquierda para artistas -->
                <div class="col-md-6">
                    {% if artistas %}
                        <div class="col-12">
                            <h2 class="text-white">Resultados de la búsqueda de Artistas:</h2>
                        </div>
                        {% for artista in artistas %}
                            <div class="cancion-pequeña m-1 ms-4 row align-items-center" style="color: white;">
                                <div class="col-1 h3">{{ forloop.counter|add:0 }}</div>
                                <div class="col d-flex">
                                    <img class="artista-img rounded m-1" src="{{ artista.imagen }}" alt="Imagen del Artista">
                                    <div class="ms-1">
                                        <div>{{ artista.nombre }}</div>
                                    </div>
                                </div>
                                <div class="col-auto ms-auto">
                                    <a href="{% url 'obtener_canciones' artista.id %}" class="text-white">Ver Canciones</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <p class="text-white">No se encontraron artistas.</p>
                        </div>
                    {% endif %}
                </div>

                <!-- Alineación a la derecha para canciones -->
                <div class="col-md-6 text-end">
                    {% if canciones %}
                        <div class="col-12">
                            <h2 class="text-white">Canciones encontradas:</h2>
                            <ul>
                                {% for cancion in canciones %}
                                    <li class="cancion-pequeña m-1 ms-4 row align-items-center" style="color: white;">
                                        <div class="col-1 h3">{{ forloop.counter|add:0 }}</div>
                                        <div class="col d-flex">
                                            <img class="cancion-pequeña-img rounded m-1" src="{{ cancion.imagen }}" alt="Carátula de la canción">
                                            <div class="ms-1">
                                                <div>{{ cancion.titulo }}</div>
                                            </div>
                                        </div>
                                        <div class="col-2">{{ cancion.duracion }} <i class="bi bi-play-fill"></i></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <p class="text-white">No se encontraron canciones.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de la zona de resultados de búsqueda -->
{% endblock %}
