{% extends 'base_inicio.html' %}

{% block title %}Inicio{% endblock %}

{% block content_inicio %}
    <div class="container text-white">
        <div class="text-center">
            <i class="bi bi-soundwave"></i>
            <h1 class="h2 pt-3 pb-2">Project Managers</h1>
            <!-- Título principal de la página con ícono de Bootstrap -->
       
            <div class="img">
                <img src="{% static 'img/Headphone-bro.svg' %}" alt=""> 
            </div>
        </div>

        <div class="content">
            <p>Somos un grupo de personas que queremos permitir a los usuarios explorar, buscar y descargar su música favorita. Los usuarios pueden registrarse, crear perfiles personales y personalizar listas de reproducción. La plataforma ofrece información detallada sobre las canciones y permite a los usuarios valorarlas. Además, cuenta con un sistema de recomendaciones que sugiere música basada en los gustos y hábitos de escucha del usuario. También permite interacciones sociales, como seguir a otros usuarios, crear grupos, etc. Esperamos que lo disfruten.</p>
           
            <div class="buttons">
                <a href="registro/"><button>Registrarse</button></a>
             
                <a href="registro/"><button>Iniciar Sesión</button></a>
            </div>
        </div>
    </div>
{% endblock %}
