{% extends 'base.html' %}
{% load static %}
{% block title %}Canciones del Artista{% endblock %}

{% block content %}

    <style>
        .small-img {
            width: 40px; /* Reducción del tamaño de la imagen */
            height: 40px;
            object-fit: cover;
        }
        .hero-area {
            min-height: 400px;
            background-position: 20% 40%;
            background-size: cover;
        }
        .canciones-container {
            margin-top: 20px; 
        }
        .cancion-pequeña {
            display: flex;
            align-items: center;
            font-size: 0.9rem; /*texto */
        }
        .cancion-duracion {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
        .titulo-lista {
            margin-top: 10px; /* Ajuste del margen superior del título */
            text-align: left; /* Alineación del título a la izquierda */
            margin-left: -240px; /* Ajuste del margen izquierdo para mover más hacia la izquierda */
        }
    </style>

    <div class="hero-area pt-5 mt-2" style="background-image: url('{% static 'img/03.jpg' %}');">
        <div class="nav-spacer"></div>

        <div class="container canciones-container">
            <h1 class="text-white titulo-lista">Lista de canciones:</h1>
            <div class="row">
                {% if canciones %}
                    {% for cancion in canciones %}
                        <div class="cancion-pequeña m-1 ms-4 col-md-6 row align-items-center" style="color: white;">
                            <div class="col-1 h5">{{ forloop.counter|add:0 }}</div>
                            <div class="col d-flex">
                                <img class="small-img rounded m-1" src="{{ cancion.imagen }}" alt="Carátula">
                                <div class="ms-1">
                                    <div>{{ cancion.titulo }}</div>
                                </div>
                            </div>
                            <div class="col-2 cancion-duracion">
                                {{ cancion.duracion }} <i class="bi bi-play-fill"></i>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-white">No se encontraron canciones para este artista.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
